@import "./layouts";
@import "./fonts";
@import "./layouts";

.admin-content-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.admin-contents {
    flex: 1;
    overflow-y: auto;
}

.admin-navbar {
    height: 68px !important;
}
