@import "../../assets/sass/variables";

.admin-sidebar-container {
  background-color: $light-grey;
  height: 100%;
  .accordion-button {
    svg {
      margin-right: 10px;
    }
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
  }
  .accordion-button:focus {
    background-color: transparent !important;
  }
  .accordion-button:hover {
    color: blue;
    background-color: transparent !important;
  }
  .admin-sidebar-sub-items {
  }
}
.admin-sidebar-item {
}
